*{
    box-sizing: border-box;
}
ul{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: navy;
    margin-top: 5px;
}
ul li a{
    display: block;
    color: aliceblue;
    padding: 10px 15px;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
}
li a:hover{
    background: rgb(85, 85, 137);
}
.side{grid-area: side;}
.main-nav{grid-area: nav;}
.ads{grid-area: ads;}
.main-head{grid-area: header;}
.main-footer{grid-area: footer;}
.content{grid-area: mainContent;}
.wrapper{
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-areas: 
    'header header header header header header'
    'nav nav nav nav nav nav'
    'side  mainContent mainContent mainContent mainContent ads'
    'footer footer footer footer footer footer';  
}
.side{

    background: pink;
    text-align: center;
    margin: 3px;
}
.ads{
    
    background: purple;
    text-align: center;
    margin: 3px;
}
.main-head{
    background: beige;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    padding: 40px;
}
.main-footer{
    background: beige;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    padding: 40px;
}






@media (max-width:760px) {
    ul{
        flex-direction: column;
    }
    .wrapper{
        grid-template-columns: auto;
        grid-template-areas:
        'header'
        'nav'
        'mainContent'
        'side'
        'ads'
        'footer';
    }
}