*{
    box-sizing: border-box;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.col{
    flex: 33.3%;
    padding: 5px;
}
img{
    width:100%;
}
@media(max-width:600px){
    .col{
        flex:100%;
    }
}
header, footer{
    text-align: center;
    font-size: 2em;
    color: aliceblue;
    background-color: black;
}